* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #293241;
    padding-bottom: 80px; 
}

.navbar {
    background-color: #070225;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar a {
    text-decoration: none;
    color: #e0fbfc;
    padding: 20px;
    font-size: 25px;
}

.navbar a.active {
    color: #ee6c4d;
    border-bottom: 2px solid #ee6c4d;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 70%;
    background-color: #323b49;
    padding: 15px;
    border-radius: 5px; 
    margin-top: 50px; 
}

.info-title {
    color: #e0fbfc;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.info-display {
    background-color: #070225;
    border: 1px solid #293241;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    width: 100%;
}

.info-display-title {
    color: #e0fbfc;
    font-size: 18px;
    margin-bottom: 10px;
    display: block;
}

/* Add styles for the footer */
.footer {
    background-color: #1e2125;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px; 
    box-sizing: border-box; 
}

.footer a {
    text-decoration: none;
    color: #e0fbfc;
    font-size: 18px;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.footer a:hover {
    background-color: #3d5a80;
    color: #e0fbfc;
    border-radius: 5px;
}
